.create-projects{
    padding: 20px;
     background-color: #272638;
     height: 100vh;
     color: white;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.back{
    color: white;
}
.create-project-header{
   color: white;
}
 .inputsFields1 {
      display: flex;
     flex-direction: column;
      
      border-radius: 10px;
     width: 45%;
     padding: 20px;
 }
 .inputsFields1 label{
   font-weight: 700;
   font-size: 20px;
 }
 .inputsFields1 input,textarea{
   font-size: 18px;
    outline: none;
    border: none;
    height: 30px; 
    margin: 10px;
    color: white;
    background-color: #272638;
    border-bottom: 2px solid gray;
    cursor: pointer;
  }
  
  .inputsFields1  .desc{
    height: 50px;
  }
 .project-datas{
    display: flex;
    justify-content: center;
    gap: 30px; 
 }

 .inputsFields2{
     display: flex; 
     align-items: center;
     flex-direction: column;  
      border-radius: 10px;
     width: 25%;
      height: auto;
     padding: 20px;
    
}
.project-photo{
   display: flex;
   justify-content: center;
    margin: 20px;
   width: 80%;
   height: 150px;
   border: 1px dashed black;
   
}

.project-photo img{
    width: 100%;
   height: 150px;
}

.status {
   width: 120px;
   height: 30px;
   margin-left: 10px;
  
}

.status option {
   cursor: pointer; /* Set cursor to pointer */
   font-size: 17px; /* Adjust font size as needed */
 }
 
 
 .tags{
    border: solid 2px gray;
    border-radius: 10px;
    width: 80%;
    height: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5em;
    color: white;
    font-size: 18px;
    font-weight: 800;
 }
 .tag-item{
   padding: 10px;
 }
 .tag-item, .tag-member{
   background-color: #43256ebd;
   display: inline-block;
   padding: 5px;
   border-radius: 20px;
   margin-bottom: 5px;
   color: #ffffff;
   font-weight: 500;
   margin: 10px 0px 10px 10px;
 }
 
 .tag-member .text{
   
   font-size: 25px;
   font-weight: 800;
 }

 .tag-item .close, .tag-member .close{
   height: 20px;
   width: 20px;
   background-color: gray; 
   
   border-radius: 50%;
   display: inline-flex;
   justify-content: center;
   margin-left: .5em;
   cursor: pointer;
 }

.tags .tags-input {
flex-grow: 1;
padding: .5em 0;
border: none;
outline: none;
background-color: #272638;
color: white;
font-size: 13px ;
font-weight: 800;
 }

.tag-item .text{
  
font-weight: 800;
   font-size: 25px;
   padding: 10px;
}
 .members{
   border: solid 2px gray;
   border-radius: 10px;
   height: auto;
   margin: 0px 10px 10px 10px;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap: .5em;
}
.members .tags-inputMem{
   flex-grow: 1;
   padding: .5em 0;
   border: none;
   outline: none;
   color: white;
   font-size: 13px ;
   font-weight: 800;
}

.quantityOfMem{
   display: flex;
   justify-content: space-between;
   
}
 
.create-controls {
   margin-top: 50px;
}
 
.create-controls button{
    width: 100px;
     margin: 10px;
     height: 30px;
      cursor: pointer;
     border-radius: 10px;   
}
.create-controls button:nth-child(1){
   background-color: #312E3D;
   color: white;
   font-size: 18px;
}
.create-controls button:nth-child(1):hover{
   background-color: #08f91c;
   color: rgb(0, 0, 0);
   font-size: 18px;
}
.create-controls button:nth-child(2){
   background-color: #CACACA;
   color: rgb(0, 0, 0);
   font-size: 18px;
}
.create-controls button:nth-child(2):hover{
   color: rgb(255, 251, 251);
   font-size: 18px;
   background-color:red ;
}