.create-projects{
    padding: 50px;
   
}
 .inputsFields1 {
    display: flex;
    flex-direction: column;
     background-color: #ffffff;
     box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
     border-radius: 10px;
     width: 45%;
     padding: 20px;
 }

 .inputsFields1 input,textarea{
    border-radius: 8px;
    outline: none;
    border: solid 2px gray;
    height: 30px; 
    margin: 10px;
  }
  .inputsFields1  .desc{
    height: 100px;
  }
 .project-datas{
    display: flex;
    justify-content: center;
    gap: 30px; 
 }

 .inputsFields2{
   display: flex;
    
   align-items: center;
    flex-direction: column;
     background-color: #ffffff;
     box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
     border-radius: 10px;
     width: 25%;
     padding: 20px;
}
.project-photo{
   display: flex;
   justify-content: center;
    margin: 20px;
   width: 80%;
   height: 150px;
   border: 1px dashed black;
   
}

.project-photo img{
    width: 100%;
   height: 150px;
}

.status {
   width: 120px;
   height: 30px;
   margin-left: 10px;
  
}

.status option {
   cursor: pointer; /* Set cursor to pointer */
   font-size: 17px; /* Adjust font size as needed */
 }
 
 
 .tags{
    border: solid 2px gray;
    border-radius: 10px;
    width: 80%;
    height: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5em;
 }

 .tag-item{
   background-color: #686868;
   display: inline-block;
   padding: .5em .75em;
   border-radius: 20px;
   margin: 5px;
   color: #ffffff;
 }

 .tag-item .close{
   height: 20px;
   width: 20px;
   background-color: gray;
   
   color: whitesmoke;
   border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  margin-left: .5em;
  cursor: pointer;
 }

 .tags-input{
flex-grow: 1;
padding: .5em 0;
border: none;
outline: none;
 }