.prodData-container{
    display: flex;
     
   
}

.prodData-content{
    width: 85%;
    height: auto;
    
    
    background-color:#242230;
    
}

.prodData-header{
    padding: 0px 30px 0px 30px;
}

.prodData-header .prodData-Details{
    font-size: 14px;
    color: grey;
}
.prodData-create{
    display: flex;
    justify-content: end;
    margin: 0px 30px 0px 0px;
}
.prodData-create button{
    
    width: 100px;
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    background-color: #9D0ADF;
    color: white;
}

.prodData-Task{
    margin: 30px;
    width: auto;
    height: 70vh;
    overflow-x: auto;
    border-radius: 10px;
 }
 .prodData-Task::-webkit-scrollbar{
    width: 6px
 }
 .prodData-Task::-webkit-scrollbar-thumb  {
    background-color: #999; /* Set the color of the scrollbar thumb */
    border-radius: 4px; /* Set the border-radius of the scrollbar thumb */
  }
 .prodData-Task table{
    width: 100%;
   
    font-size: 18px;
    
   padding: 0 10px 0 10px;
   
   
}
.prodData-Task th:first-child,
.prodData-Task td:first-child {
    width: 50%; /* Adjust the width as needed */
    
}
.prodData-Task th {
    background-color: #2A2836;
    color: white;
     font-size: 25px;
    padding: 10px;
  
}
.prodData-Task th:first-child{
    border-top-left-radius: 15px;
    
}
.prodData-Task th:last-child{
    border-top-right-radius: 15px;
    
}
.prodData-Task td{
    background-color: #38374F;
    border-left: 2px solid gray;
  
}
.prodData-Task td:nth-child(1){
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-left: 10px solid rgb(5, 255, 59);
}

.prodData-Task table,
.prodData-Task td,
.prodData-Task th {
    border-spacing: 0px 1rem;
   
}  
 

.prodData-Task td:nth-child(2){
    text-align: center;
    
}     
.prodData-Task td input,select{
    border-radius: 10px;
    outline: none;
    width: 120px;
}
.prodData-Task td:nth-child(3).prodData-Task td:nth-child(4){
    text-align: center;   
}

 

 .task-details textarea{
    width: 100%;
    height: 50px;
    margin: 0;
}
.task-Status select{
    width: 100%;
    height: 50px;
    margin: 0;
}
.task-Assign input{
    width: 100%;
    height: 50px;
    margin: 0;
}
.task-DueDate input{
    width: 100%;
    height: 50px;
    margin: 0;
    font-size: 15px;
}

.task-Btn {
    text-align: center;  
}
.details-cell {
     max-width: 200px; /* Example max-width, adjust as needed */
     overflow-y: auto;  
     cursor: pointer;
     color: white;
     font-weight: 100;
}
.details-cell:hover{
    color: #9C0AE0;
}
.details-cell::-webkit-scrollbar {
     height: 8px;
      
}
.details-cell::-webkit-scrollbar-thumb{
    background-color: #cfcccc; /* Set the color of the scrollbar thumb */
    border-radius: 5px;
}
.task-Btn button {
    margin-right: 5px;
}


.assign-user-profile div{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
   
    color: white;
}

.assign-user-profile img{
    width: 40px;
    border-radius: 50%;
}

.prodData-status p{
    background-color: #00ff04fb;
    border-radius: 5px;
    color: rgb(255, 255, 255);
     text-align: center;
     margin: 10px;
}
.prodData-date{
    text-align: center;
    color: #b0aeae;
}

  .prodData-title{
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;
  }
  .prod-Delete img{
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 10px;
  }

  .Proddelete{
    display: none;
    position: absolute;
    z-index: 1;
  }
  .Proddelete button{
    border: none;
    outline: none;
    cursor: pointer;
    height: 30px;
    font-size: 17px;
  }
  .prod-Delete:hover .Proddelete{
    display: block;
  }

  .prodData-Details p{
    word-wrap: break-word;
    color: rgb(220, 210, 210);
  }

  .task-Btn button{
    width: 100px;
    height: 35px;
    border-radius: 10px;
    cursor: pointer;
  }
  .task-Btn button:first-child{
    background-color: #312e3d;
    color: white;
  }
  .task-Btn button:nth-child(2){
    background-color: #cacaca;
    color: rgb(0, 0, 0);
  }

 