    
  
  .projects-sidebar {     
    display: flex;
   }
  
  .project-content {
    width: 85%;
    margin: 5px;
    border-radius: 10px;
    }

   .project-content .header{
    max-width: 99%;
    height: 50px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
   }

   .project-content .users-project{
    max-width: 99%;
    height: 100vh ;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
   }


   .header{
    display: flex;
    justify-content:space-between;
    align-items: center;
   }

   .project-search input{
     width: 250px;
     height: 30px;
     padding: 5px;
     border-radius: 8px;
     outline: none;
     border: none;
     font-size: 18px;
     background-color: #F7F6F4;
   }

   .users-project .create{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
   }
   .create h2{
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    color: white;
   }
   

   .users-project .project{
    width: 250px;
    height: auto;
    background-color: aqua;
    padding: 5px ;
    cursor: pointer;
    border-radius: 5px;
   }

   .project img{
     margin-left: 10px;
     margin-right: 10px;
     margin-top: 10px;
 
    width: 230px;
    height: 160px;
   }
   .project .prjTitle{
   
   }

   .project p{
    word-wrap: break-word; 
    max-width: 100%;
    font-size: 15px;
   }

   .category {
    display: flex;
    margin: 10px;
    
  }
  
  .category div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    width: 80px;
    height: 30px;
    margin-right: 10px;
    text-align: center;
    border-radius: 5px;
  }
  

 
  