    
  
  .projects-sidebar {     
    display: flex;
   }
  
  .project-content {
    width: 85%;
    margin: 5px;
    border-radius: 10px;
    }

   .project-content .header{
    max-width: 99%;
    height: 50px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
   }

   .project-content .users-project{
    max-width: 99%;
    height: 100vh ;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    
   }


   .header{
    display: flex;
    justify-content:space-between;
    align-items: center;
   }

   .project-search input{
     width: 250px;
     height: 30px;
     padding: 5px;
     border-radius: 8px;
     outline: none;
     border: none;
     font-size: 18px;
     background-color: #F7F6F4;
   }

   .users-project .create{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
   }
   .create h2{
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    color: white;
   }
   
 

   .users-project .project{
    width: 270px;
    height: auto;
    background-color: #ffffff;
    padding: 5px ;
    cursor: pointer;
    border-radius: 5px;
   }

   .project img{
     margin-left: 10px;
     margin-right: 10px;
     margin-top: 10px;
 
    width: 250px;
    height: 160px;
   }
    
  .users-project .project {
   margin: 10px;
   }

   .project p{
    word-wrap: break-word; 
    max-width: 100%;
    font-size: 15px;
    color: gray;
    padding-left: 10px;
    padding-right: 10px;
   }
   .project .prjTitle{
    padding-left: 10px;
    padding-right: 10px;
   }

   .category {
    display: flex;
    margin: 10px;
    
  }
  
  .category div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    width: 80px;
    height: 30px;
    margin-right: 10px;
    text-align: center;
    border-radius: 5px;
  }
  

 
  
  .users-project-scrollable {
    width: 320px;
    max-height: 85%; /* Set the maximum height you want for the scrollable area */
    overflow-y: auto;
    }

   .users-project-scrollable::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
  }
  
  .users-project-scrollable::-webkit-scrollbar-thumb {
    background-color: #999; /* Set the color of the scrollbar thumb */
    border-radius: 4px; /* Set the border-radius of the scrollbar thumb */
  }
  
  .create-link{
    text-decoration: none;
    color: inherit;
  }