.sidebar {
   width: 15%;
   min-height:100vh;
   background-color:#2B2936;
 
   
 
 }
 
 
 .sidebar-username{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
 }


 .sidebar-username .User h2{
      font-size: 25px;
      color: rgb(255, 255, 255);
 }
 .sidebar-oparation div{
      display: flex;
       align-items: center;
   
  } 
 
 .sidebar div h2 {
   font-size: 20px;
   color: #ffffff;
   font-weight: 100;
   margin-left: 10px;
 }
 
  
 .dashboard-link, .project-link,.task-link,.reports-link, .settings-link{
    text-decoration: none;
    color: inherit;
 }
 .sidebar-oparation div {
  
   transition: background-color 0.3s, border-right 0.3s, color 0.3s; /* Added 'color' property to transition */
   border-right: 4px solid transparent;
 }
 
 .sidebar-oparation  div:hover {
   background-color: #66446c;
   cursor: pointer;
   border-right-color: #FD8648;
   color: #FD8648; /* Set the color when hovering over the entire div */
 }
 
 
 .sidebar-oparation img{
  width: 30px;
  height: 30px;
  margin-left: 10px;
 }
  
    